@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito:ital,wght@0,500;1,500&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  background-color: #121212;
  margin:0;
  font-family: 'Lexend', sans-serif;
  color: white;
}
.header {
  backdrop-filter:blur(20px) brightness(100%);
  width: 100vw;
  position:fixed;
  display:block;
  z-index: 1000;
}

.content {
  padding-top: 55px;
}

.logo {
  font-size: 13.5px;
  color: white;
  display: flex;
}

.logo img{
  width: 55px; 
  height: auto;
  margin: 7px 10px;
}

.logo h1{
  margin: auto 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden
  top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li {
   transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
   margin: 0 10px;
  float: left;
   display: flex;
}

li a {
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-style: italic;
  transition: 0.2s ease;
  border-radius: 8px;
}

li a:hover {
  background-color: #1c1c1c;
  background-color: rgba(22, 186, 20, 0.3);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(22, 186, 20, 0.3);
}

.active {
  background-color: #2e2d2d;
}

.banner {
  background-image: url('images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 350px;
  padding: 30px 0;
}

.banner button {
  font-family: 'Lexend', sans-serif;
  border-style: none;
  border-radius: 10px;
  margin: 130px auto;
  background-color: #14ba16;
  color: white;
  width: 375px;
  box-shadow: 0px 0px 30px #14ba16;
  padding: 17.5px;
  transition: 0.2s ease;
  cursor: pointer;
}
.banner button:hover{
  background-color:#16ab16;
  transform: scale(1.025);
}

.banner h1 {
  margin:0;
  font-style: italic;
}

.banner h3 {
  margin:0;
  font-size: 14px;
}

.version {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #1c1c1c;
  margin: 15px 15px;
  width: 394px;
  height: 335px;
  border-radius: 5px;
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
}

.box:hover {
   box-shadow: 0px 0px 25px #14ba16;
}
.box p {
  margin: 10px 10px;
  font-size: 13px;
}

.box img {
  margin: 0;
  height: 230px;
  width: auto;
  border-radius: 5px 5px 0 0;
  position: relative;
}
